include *

recursive-include data *
recursive-include doc *
recursive-include locale *

global-exclude build
global-exclude build/*
global-exclude build/*/*
global-exclude build/*/*/*
global-exclude build/*/*/*/*
global-exclude build/*/*/*/*/*
global-exclude build/*/*/*/*/*/*
